body{
  background-color: #11092e;
}
.hprime{
  text-align: center;
  color: red;
  font-size: 50px;
  font-family: latin Modern Roman;
  font-style: italic;
}
.primero{
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: latin Modern Roman;
  font-style: italic;
}
